<main class="app" ng-controller="ProdutoDetalheController">
  <div class="sub-header">
    <h5>Oferta especial</h5>
    <div class="divisor"></div>
  </div>
  <div class="product-details">
    <div class="img-product-item">
      <div class="bx-thumbs"><img src="images/fp1.png" alt=""></div>
      <div class="thumbs">
        <ul>
          <li><img src="images/thumb.png" alt=""></li>
          <li><img src="images/thumb.png" alt=""></li>
          <li><img src="images/thumb.png" alt=""></li>
          <li><img src="images/thumb.png" alt=""></li>
        </ul>
      </div>
    </div>
    <div class="product-info">
      <h4>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</h4><img src="images/stars.png"
        alt="">
      <div class="bx-price">
        <p>37 ofertas a partir de:</p>
        <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
      </div>
      <div class="action-buttons-in"><a class="bot-buy" ng-click="comprar()"><img src="images/bot-buy.svg" alt=""></a></div>
    </div>
  </div>
  <div class="app product-box-ofertas">
    <div class="sub-header">
      <h5>Produtos relacionados a esta oferta</h5>
      <div class="divisor"></div>
    </div>
    <div class="bx-products">
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p1.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="" width="116">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p2.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p3.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p4.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p1.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p2.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p3.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
      <div class="product-item"><a href="detalhes_produto.html"><img src="images/p4.png" alt="produto exemplo"></a><a
          href="detalhes_produto.html">
          <p>Smartphone LG K10 Novo Dual Chip Android 7.0 Tela 5,3" 32GB 4G 13MP - Preto</p>
        </a><img src="images/stars.png" alt="">
        <div class="bx-price">
          <p>37 ofertas a partir de:</p>
          <h3>R$699,00</h3><span>9x de R$ 74,33 sem juros</span>
        </div>
      </div>
    </div>
  </div>
</main>